<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            [routerLink]="['/']"
            routerLinkActive="router-link-active"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/counter']"
            routerLinkActive="router-link-active"
            >counter</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/posts']"
            routerLinkActive="router-link-active"
            >posts</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/auth/login']"
            routerLinkActive="router-link-active"
            >login</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/auth/signup']"
            routerLinkActive="router-link-active"
            >signup</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
